body {
    font-family: Helvetica;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
}


#title {
    display: flex;
    justify-content: center;
}

#name {
    display: flex;
    justify-content: center;
}

.assignment {
    display: flex;
    width: 400px;
    height: 250px;
    border: 2px solid black;
    margin: 10px;
    align-content: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

h4 {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0;
}

#one {
    background-image: url("http://i67.tinypic.com/f2qa6e.png");
    width: 400px;
    height: 250px;
    justify-content: center;
}


#two {
    background-image: url("http://i66.tinypic.com/dbinlv.png");
    width: 400px;
    height: 250px;
    justify-content: center;
}

#three {
    background-image: url("http://i65.tinypic.com/chi0k.png");
    width: 400px;
    height: 250px;
    justify-content: center;
}

#four {
    background-image: url("http://i63.tinypic.com/fmrolu.png ");
    width: 400px;
    height: 250px;
    justify-content: center;
}


.hover_info {
    visibility: hidden;
    width: 400px;
    height: 250px;
    align-self: flex-start;
    flex-direction: column;
}

#one:hover .hover_info {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 20px;
    display: block;
}

#two:hover .hover_info {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    color: white;
    display: block;
}

#three:hover .hover_info {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    color: white;
    display: block;
}

#four:hover .hover_info {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    color: white;
    display: block;
}
